@charset "UTF-8";

/* paleta de cores */
:root {
    --corPrincipal: #4A0EBF;
    --corSecundaria: #6160F7;
    --terceiraCor: #8858E8;
    --corTitulo: #3D2867;
    --corBotao: #472E7A;
}

@media screen and (min-width: 768px) {
    /* cabecalho */
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
    }

    /* logo */
    img.logo {
        margin: 5px;
    }

    /* menu hamburguer */
    span#burger {
        display: none;
    }

    /* itens */
    menu.itens {
        background: none;
    }

    menu.itens > ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    ul > li {
        list-style: none;
    }

    ul > li > a {
        color: var(--corSecundaria);
        font-weight: 500;
    }

    ul > li > a:hover {
        background: none;
        color: var(--corPrincipal);
        transition: .5s;
    }

    /* principal */
    main {
        width: 700px;
        margin: 0 auto;
    }

    /* imagem formatura */
    img#imgFormatura {
        width: 250px;
        border-radius: 50%;
        margin-top: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    img#localizacao,
    img#email {
        width: 30px;
        margin-right: 5px;
    }

    /* botao */
    button#botaoContato {
        background: var(--corBotao);
        margin: 10px 0px;
        padding: 15px 25px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46);
        cursor: pointer;
    }

    button#botaoContato:hover {
        background: var(--terceiraCor);
        padding: 15px 35px;
        font-size: 1em;
        transition: .5s ease-in-out;
    }

    /* projetos */
    section {
        display: flex;
        flex-flow: column nowrap;
    }

    div.containerProjetos {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    div.containerProjetos > a > img {
        width: 400px;
        margin: 10px 0px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.469);
    }

    div.containerProjetos > a > img:hover {
        opacity: .5;
        transition: .5s;
    }

    p.textoProjetos {
        text-align: start;
        margin-left: 10px;
        margin-top: 10px;
    }
}