@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --corPrincipal: #4A0EBF;
    --corCorpo: #75688E;
}

body {
    background: var(--corCorpo);
}

/* logo */
.containerLogo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background: white;

    & img.logo {
        width: 70px;
        border-radius: 50%;
        padding: 5px;
    }
}

/* menu */
.menu {
    background: var(--corPrincipal);
    cursor: pointer;

    & #burger {
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
    }

    & #burger:hover {
        background: var(--corCorpo);
    }

    & .sobreMim,
    .linguagens,
    .projetos {
        color: white;
        text-align: center;
        padding: 10px;
    }

    & .sobreMim:hover,
    .linguagens:hover,
    .projetos:hover {
        background: var(--corCorpo);
    }
}

/* conteudo */
main {
    width: 90vw;
    background: white;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* sobre mim */
.containerFoto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 5px;

    & #imgFormatura {
        width: 200px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    }
}

/* botao de contato */
#linkContato {
    color: white;
    text-decoration: none;
}

#botaoContato {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#botaoContato:hover {
    background: #4A0EBF;
    transition: .5s;
}

/* texto sobre mim */
h1#tituloSobreMim {
    text-align: center;
    margin-top: 10px;
}

/* rodapé */
p.rodape {
    background: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;

    & a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
}